---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Desafio 2023">
	<main class="bg-gradient-to-br from-rose-500 from-10% via-rose-700 via-50% to-rose-600 to-90% text-white min-h-screen flex items-center">
        <div class="px-4 flex flex-col md:flex-row items-center gap-2">
        <h1 class="text-2xl font-bold min-w-40">Estadísticas</h1>
        <a class="p-2 bg-rose-500 rounded" href={`/desafio/2023/`}>Desafio 2023: the Box 3</a>
    </div>
	</main>
</Layout>
