---
import Icon, { type tyIcon } from './Icon.astro';

const teamsStyle = {
    "Alpha": {
        icon: "alpha",
        styles: "text-white rounded-full bg-violet-600"
    },
    "Beta": {
        icon: "beta",
        styles: "text-white rounded-full bg-sky-500"
    },
    "Gamma": {
        icon: "gamma",
        styles: "text-white rounded-full bg-orange-500"
    },
    "Omega": {
        icon: "omega",
        styles: "text-white rounded-full bg-pink-500"
    }
}

export type tyTeamIcon = keyof typeof teamsStyle;

interface Props {
	team: tyTeamIcon;
}

const { team } = Astro.props;
const teamSelected = teamsStyle[team as unknown as keyof typeof teamsStyle];
---

<div class={`${teamSelected.styles} p-2`}><Icon name={teamSelected.icon as tyIcon} /></div>